/* Navbar.css */
.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 20px;
  opacity: 0.8;
}

.css-ptdwpq-MuiPaper-root-MuiAppBar-root {
  --AppBar-background: none;
}

@media (min-width: 1200px) {
  .css-5c1adp-MuiContainer-root {
    max-width: none
  }
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
  margin-right: 20px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-right: 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-buttons .btn-create-post,
.navbar-buttons .btn-login,
.navbar-buttons .btn-logout {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar-buttons .btn-create-post:hover,
.navbar-buttons .btn-login:hover,
.navbar-buttons .btn-logout:hover {
  background-color: #777;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.loginbutton {
  --button-primary-color: #6e00f5;
  --button-primary-color-dark: #4c00a8;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #6e00f5;
  --button-primary-color-active: #4c00a8;
  --button-primary-border: none;
  background-color: #4c00a8;
}

.travelReq {
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}