.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.find-button {
  width: 8vw;
}

.signup-button {
  width: 8vw;
  --button-primary-color: #6e00f5;
  --button-primary-color-dark: #4c00a8;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #6e00f5;
  --button-primary-color-active: #4c00a8;
  --button-primary-border: none;
}

.swirl {
  filter: blur(10rem);

}

.transparent-container {
  background-color: transparent !important;
  background-color: transparent;
  width: '100%';
  max-width: 400;
}

.transparent-container-image {
  height: 600px;
}